
.preview::-webkit-scrollbar {
    width: 0;
}
   

.event-preview{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgb(22 22 22 / 99%);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: 0.5s ease-in;
    
}


.event-preview .preview{
    display: none;
    padding:2rem;
    text-align: center;
    overflow-y: scroll;
    padding-top: 50px;
    width: 100%;
    height: 100%;
    
}

.event-preview .preview.active{
    display: block;
}

.event-preview .preview .event{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}
.event-preview .preview .event-img{
    position: relative;
    top: 0;
    margin: auto;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    margin-right: 30px;
    border-radius: 20px;
}
.event-preview .preview .event-img img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.event-details{
    width:100%;
}
.preview-head{
    color: white;
}
.preview-decr{
    text-align: left;
    color: white;

}
.preview-decr p{
    color: white;
}

.buy-button{
    position: relative;
    bottom:0;
    left: 45%;
    width: 150px;
    height: 50px;
    background: #ff5e00;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    
}

.buy-button .buy{
    font-size: 16px;
    font-weight: 600;
    padding: 16px;
}

.buy-button:hover{
    transition: 0.3s ease-in-out;
    transform: scale(105%);
    
}

.close{
    width: 40px;
    height: 40px;
    
}

.close i{
    
    color: white;
    font-size: 20px;
}

li{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 26px;
}

@media only screen and (max-width: 1024px) {
    .event-preview .preview .event{
        padding-top: 50px;
    }
    .event-preview .preview .event-img{
        width: 130%;
    }
    .buy-button{
        margin-top: 20px;
    }
    
    .preview-head{
        position: relative;
        left: -15px;
    }
}

@media only screen and (max-width: 768px) {
    .event-preview{
        height: 100vh;
        width: 100%;
        
    }
    .event-preview .preview .event{
        flex-direction: column;
        padding-left: 25px;
    }
    .event-preview .preview .event-img{
        width: 100%;
        height: 100%;
        margin-left:10px;
    }
    .event-details{
        padding-left: 20px;
    }
    .buy-button{
        position: relative;
        margin-top: 0;
        margin-bottom: 50px;
        left: 40%;
    }
    
    .preview-head{
        
        position: relative;
        text-align: center;
        left: 20px;
    }
    
    .preview-decr{
        text-align: justify;
    }
    .close i{
        font-size: 25px;
    }
}

@media only screen and (max-width: 425px) {

    .event-preview .preview .event{
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .event-preview .preview .event-img{
        position: relative;
        width: 112%;
        height: 50%;
        margin: 0;
        top: 50px;
    }
    .event-details{
        position: relative;
        top: 50px;
        width: 112%;
        padding: 0;
    }
    .preview-head{
        position: relative;
        left: 0;
    }
    .buy-button{
        position: relative;
        margin-top: 60px;
        left: 30%;
    }
    .close{
        position: relative;
        top: -15px;
    }
    .close i{
        font-size: 20px;
    }
}
@media only screen and (max-width: 645px){
    .buy-button{
        left: 35%;
    }
}

@media only screen and (max-width: 375px) {
    .event-preview .preview .event-img{
        position: relative;
        width: 115%;
        
    }
    .buy-button{
        position: relative;
        margin-top: 60px;
        left: 28%;
    }
    
}

@media only screen and (max-width: 320px) {
    .event-preview .preview .event-img{
        position: relative;
        width: 120%;
        
    }
    .buy-button{
        position: relative;
        bottom: 0;
        left: 22%;
    }
    .preview-decr p{
        font-size: 12px;
        line-height: 20px;
    }
}